$primary-color: #4056A1;
$secondary-color: #f4cd60;
$accent-color: #f13b19;
$text-color: #545149;
$bg-color: #f4f1ec;
$bright-color: #ffffff;

$primary-font: "Source Sans Pro", sans-serif;
$logo-font: "Bungee", sans-serif; 