@use 'base';

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: base.$secondary-color;
  background-image: url("/images/profile-bg.png");
  text-align: center;
  height: 520px;

  .name-display {
    font-weight: normal;
    color: base.$bright-color;
    padding: 0 1em;
    margin: 0;
  }
}


@media (min-width: 1024px) {
  .user-profile{
    margin-right: 2em;
    flex-grow: 1;
  }
}