@use 'base';

#return-compose {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: none;
  color: base.$bright-color;
  background-color: base.$accent-color;
}