.main-navigation {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: transparent;
  color: #FFFFFF;
  padding: 1.5em;
  z-index: 1;
}

.logo {
  align-self: center;
  font-family: "Bungee", sans-serif;
  font-size: 1.5em;
}

.open-compose {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.4em;
  cursor: pointer;
}

.tweet-arrow {
  color: #f13b19;
}

@media (min-width: 1024px) {
  .main-navigation {
    background-color: #4056A1;
  }
}