.main-navigation {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

.open-compose {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.4em;
}

.logo {
  align-self: center;
  font-family: "Bungee", sans-serif;
  font-size: 1.5em;
}

.tweet-arrow {
  color: #f13b19;
}