.new-tweet {
  display: none;
  align-self: center;
  width: 100%;
  margin: 1em 0;
  font-size: 0.8em;
}

.tweet-controls {
  display: flex;
  font-family: "Bungee", sans-serif;
  margin: 0.25em 0;
  justify-content: space-between;
  align-items: center;
}

.submit-tweet {
  border: none;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0.25em 0.3em;
}

.submit-tweet:hover {
  box-shadow: 0 0 5px #4056A1;
}

.submit-tweet:active {
	box-shadow: none;
	background-color: #545149;
}

.over-limit {
  color: #f13b19;
}

.error-field {
  display: none;
}

.error-field.validation-error {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: larger;
  color: #f13b19;
  padding: 0.5em;
  border: 3px solid;
  margin: 0.5em;
}

#tweet-text {
  min-height: 1.75em;
  max-height: 3em;
  width: 100%;
  padding: 0.1em;
  border: none;
  border-bottom: solid #545149 3px;
  background-color: transparent;
  font-weight: bold;
  resize: none;
  outline: none;
}

@media (min-width: 1024px) {
  .new-tweet {
    margin: 0 0 1em 0;
  }
}