.tweet {
  display: flex;
  flex-direction: column;
  border: solid #545149 3px;
  padding: 8px;
}

.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.tweet .user-display {
  display: flex;
  align-items: center;
}

.tweet .user-avatar {
  height: 1.75em;
}

.tweet .user-nickname {
  margin: 0 0.5em;
}

.tweet .user-handle {
  color: #c5cbe3;
  font-weight: bold;
}

.tweet .tweet-content {
  font-weight: bold;
  font-size: 0.8em;
  padding: 1em;
  border-bottom: solid #545149 3px;
}

.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  padding: 12px;
}

.tweet footer .actions {
  color: #4055a1;
}